{{ if ne .Params.comments false}}
{{ if .Site.DisqusShortname }}
<div id="disqus_thread"></div>
<div class="btn_click_load">
    <button class="disqus_click_btn">Show Disqus Comments</button>
</div>
<style>
    .disqus_click_btn {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        height: 38px;
        padding: 0 15px;
        margin: 20px auto 0 auto;
        border: #bfc8cd 1px solid;
        opacity: 1;
        color: #9eabb3;
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        line-height: 35px;
        white-space: nowrap;
        border-radius: 3px;
        background: transparent;
        transition: all 0.5s ease;
    }
    .disqus_click_btn:hover {
        border-color: #555;
        color: #555;
    }
</style>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{{ end }}
{{ end }}



