<article class="post {{ .Section }}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    </header>
    <section class="post-excerpt">
        {{if .Params.excerpt }}
            <p>{{ .Description }} <a class="read-more" href="{{.RelPermalink}}">&raquo;</a></p>
        {{else}}
            <p>{{ .Description }} <a class="read-more" href="{{.RelPermalink}}">&raquo;</a></p>
        {{end}}
    </section>
    <footer class="post-meta">
        

        {{ if or .Params.author .Site.Params.author}}
            {{$authorname := or .Params.author .Site.Params.author }}
            {{$authoravatar := .Site.Params.authoravatar }}

            {{with $authoravatar}}
            <img class="author-thumb" src="{{ $authoravatar  }}" alt="Author image" nopin="nopin" />
            {{end}}
            Posted by
            {{with $authorname}}
             {{$authorname}}
            {{end}}     
        {{end}}
        on {{ .Date.Format "2 Jan 2006" }}
    </footer>
</article>
